.navigate {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 18px;
	margin-top: 265px;
}
.navigate p {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: var(--black);
}
.arrow {
	background: url('../../../public/assets/img/arrow .svg');
	width: 26px;
	height: 26px;
}