// all courses
#allBlock {
	margin-top: 110px;
	position: relative;
}
.background-wave {
	position: absolute;
	z-index: 0;
}
.background-wave img {
	overflow: hidden;
} 
.ourCourses{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 86.16px;
}

.ourCourse{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 300px;
	height: 340px;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding-top: 20px;
	overflow: hidden;
	
}

.ourCoursesList{
	max-width: 970px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
	margin-top: 56px;
}

.borderCircle{
	width: 144px;
	min-height: 144px;
	border: 1px solid #E6E6E6;
	align-items: center;
	text-align: center;
	border-radius: 100%;
	display: flex;
	justify-content: center;
}

.color1{
	background: linear-gradient(74.44deg, #3331D1 -25.27%, #933FEE 82.39%);
}

.color2{
	background: linear-gradient(68.44deg, #3331D1 -19.65%, #FFFFFF 146.79%);
}

.color3{
	background: linear-gradient(64.99deg, #3937C0 0%, #6DCDF7 105.97%);
}

.color4{
	background: linear-gradient(60.68deg, #890BA8 -19.96%, #FFED50 121.27%, #FFF9C1 121.27%);
}

.color5{
	background: linear-gradient(65.01deg, #2221B7 -22.24%, #FC8383 110.74%);
}

.color6{
	background: linear-gradient(66.68deg, #3331D1 -28.6%, #29DD5B 134.41%);
}

.colorCircle{
	width: 121px;
	height: 121px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}



.courseName{
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	word-break: break-word;
	font-size: 33px;
	line-height: 108.34%;
	color: #FFFFFF;
	margin: 0px;

}

.courseDescription{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 126.34%;
	text-align: center;
	color: #000000;
	margin-top: 30px;
}

.moreAboutCourseIcon{
	font-size: small;
	color: #BFBFBF;
	margin-top: 29.46px;
}

.ourCoursesTitle{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 108.34%;
	color: #1A1433;
}

.informAboutCourse{
	width: 300px;
	height: 250px;
	background: #FFFFFF;
	border-radius: 10px 10px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
	padding: 30px 0px 22px 0px;
}

.informTextData{
	display: flex;
	flex-direction: row;
	gap: 39px;
}

.informText,
.informData{
	display: flex;
	flex-direction: column;
}

.informText{
	gap: 13px;
}

.informData{
	gap: 10px;
}

.informText p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-transform: capitalize;
	color: #141414;
}

.informData p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	text-transform: capitalize;
	background: linear-gradient(74.44deg, #3331D1 -25.27%, #933FEE 82.39%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.moreAboutCourse{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 33px;
	padding: 3px 20px;
	background: linear-gradient(74.44deg, #3331D1 -25.27%, #933FEE 82.39%);
	box-shadow: 0px 4px 20px rgba(79, 0, 255, 0.35);
	border-radius: 51px;
	margin-top: 20px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-transform: capitalize;
	color: #FFFFFF;
	border: none;
}


.statusOfRecrut{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 108.34%;
	color: #454545;
	margin-top: 11px;
}

.ourCourse:hover .moreAboutCourseIcon{
	animation: rotateAndUp 1s forwards;
}

.ourCourse:hover .colorCircle{
	transform: scale(5);
	animation-duration: 2s;
}

.ourCourse:hover .courseName{
	transform: scale(0.25) translateY(-30px);
}

.ourCourse:hover .informAboutCourse{
	animation: fadeInUp 1s forwards;
	animation-delay: 0.5s;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, -105%, 0);
  }
}



	@keyframes rotateAndUp {
		from {
			transform: translate3d(0, 0, 0);
			visibility: visible;
		}

		50%{
			transform: rotate(180deg);
		} 
	
		to {
			transform: translate3d(0, -191px, 0)  rotate(180deg);
		}

	}



/* .allCourseBlock {
	position: relative;
	margin-top: 111px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.allCourseBlock h1 {
	align-self: center;
	font-weight: 800;
	font-size: 40px;
	line-height: 108.34%;
	color: #1A1433;
}
.coursesBlock {
	display: flex;
  flex-wrap: wrap;
	align-self: center;
 
	width: 960px;
	margin-top: 111px;
  gap: 30px;
	z-index: 100;
}
.block {
	width: 300px;
	height: 340px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	background: var(--white);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
.logo-course {
	width: 144px;
	height: 144px;
}
.block p {
	width: 175px;
	height: 48px;
	text-align: center;
	font-weight: 800;
	font-size: 18px;
	line-height: 126.34%;
}
.arrow-more {
	width: 22px;
	height: 22px;
	margin-top: 11px;
} */