.nearestCourse {
	display: flex;
	justify-content: center;
	gap: 192px;
	align-items: center;
}
.onlineStatus{
	width: 129px;
	height: 35px;
	background: linear-gradient(74.44deg, #3331D1 -25.27%, #933FEE 82.39%);
	display: flex;
	align-items: center;
	padding-left: 12px;
}

.onlineStatusText{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 143.9%;
	color: #FFFFFF;
	text-transform: uppercase;
}

.courseInformation{
	width: 475px;
	margin-top: 45px;
}

.aboutThisCourse{
 margin-top: 47px;
}

.courseAuthor{
	height: 24px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
}

.thisCourseName{
	height: 54px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 108.34%;
	color: #1A1433;
	margin-top: 30px;
}

.thisCorsesDescription{
	height: 50px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: #000000;
	margin-top: 30px;
}

.coursesTimeAndCost{
	position: relative;
	width: 480px;
	height: 75px;
	border: 1px solid #B8B8B8;
	border-radius: 8px;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 40px;
	padding-left: 47px;
	margin-top: 57px;
	background: transparent;
}

.timeOfThisCourse,
.coursePaymentPerMonth
{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.courseTimeText,
.coursePaymentText
{
	height: 30px;
}

.courseTimeName,
.coursePaymentPerMonthTitle
{
	height: 19px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 143.9%;
	color: #000000;
	margin: 0px;
}

.courseTimetable,
.coursePaymentPerMonthOpportunities
{
	height: 22px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 143.9%;
	color: #000000;
	margin: 0px;

}

.courseTimeImg{
	width: 30px;
	height: 30px;
}

.nearestCourseGroup{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 149px;
}
.thisCourseBox{
	width: 515px;
	height: 439px;
	background: #FFFFFF;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
}

.nearestCoursesGroupInformation{
	width: 466px;
	height: 262px;
	background: linear-gradient(65.01deg, #2221B7 -22.24%, #FC8383 110.74%);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 18px;
}

.courseStartAtAndCost, .durationAndNumberOfLessons{
	display: flex;
	flex-direction: row;
}

.courseStartAtAndCost{
	gap: 120px;
	margin-bottom: 15.63px;
}

.durationAndNumberOfLessons{
	gap: 93px;
	margin-top: 15px;
}

.courseStartAt,
.thisCourseCost,
.duration,
.courseNumberOfLessons{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.thisCourseBoxTitle{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 143.9%;
	color: #000000;
	
}

.courseStartAtTitle, 
.thisCourseCostTitle,
.durationTitle, 
.courseNumberOfLessonsTitle
{
	margin: 0px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 143.9%;
	color:#FFFFFF;
}

.courseStartAtText, 
.thisCourseCostText,
.durationText, 
.courseNumberOfLessonsText{
	margin: 0px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 26px;
	line-height: 143.9%;
	color: #FFFFFF;
}

.courseDivider{
	margin-left: 32px;
	width: 424px;
	background-color: rgba(255, 255, 255, 0.4);
}

.thisCoursenumberOfFreePlaces{
	width: 182px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 17.21px;
	margin-top: 37.12px;
}

.freePlaces{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 143.9%;
	color: #FFFFFF;

}

.freePlacesIcon{
	color: #FFFFFF;
}

.leaveReview{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 143.9%;
	color: #232323;
}

.startCourse{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
	width: 301px;
	height: 70px;
	left: 1237px;
	top: 590px;
	background: linear-gradient(58.91deg, #1C1A9D -12.05%, #DC78FF 108%);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 143.9%;
	border: none;
	color: #FFFFFF;

}

.leaveReviewOrStartCourse{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 41.5px;
	margin-top: 18px;
}

.toMoreDetails{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 18.16px;
	margin-top: 280px;
}

.toMoreDetailsText{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #000000;
	margin: 0px;
}

.toMoreDetailsIcon{
	color: #3931D1;
}

.technologiesUnderStudy{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 63px;
	margin-top: 168.16px;
}

.technologiesUnderStudyTitle{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 108.34%;
	color: #1A1433;
}

.technologiesUnderStudyBox{
	max-width: 828px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 27px;
}

.technologiesUnderStudy_example{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 8px;
}



.technologiesUnderStudyText{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: #000000;
}

.aboutProfession{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 63px;
	width: 792px;
	/* margin-top: 142px; */
	margin: 142px auto;
}

.aboutProfessionTitle{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 108.34%;
	color: #1A1433;
	margin: 0px;
}

.aboutProfessionText{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 185%;
	color: #000000;
	margin: 0px;
}

.aimOfCourseAndForWhom{
	display: flex;
	flex-direction: row;
	width: 980px;
	border: 1px solid #B8B8B8;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	margin: 54px auto; 
}

.aimOfCourse{
	width: 490px;
	display: flex;
	flex-direction: column;
	gap: 44px;
	align-items: center;
	padding: 35px 0px 40px 0px;
}



.aimOfCorseTitle{
	display: flex;
	flex-direction: row;
	gap: 11.87px;
	align-items: center;
}

.aimOfCorseTitleIcon{
	color: #3331D1;
	font-size: large;
}

.aimOfCorseTitleText{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 108.34%;
	color: #1A1433;
	margin: 0px;
}

.aimOfCourseList{
	width: 360px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
}

.aimOfCourseList_item{
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 20px;

}

.aimOfCourseList_item p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 149%;
	color: #000000;
	margin: 0px;
	max-width: 319px;
}

.circleAimOfCourseList_item {
  width: 10px;
	height: 10px;
	background: linear-gradient(74.44deg, #3331D1 -25.27%, #933FEE 82.39%);
	border-radius: 100%;
	display: flex;
}

.courseForWhom{
	max-width: 490px;
	display: flex;
	flex-direction: column;
	gap: 44px;
}

.courseForWhomTitle{
	display: flex;
	flex-direction: row;
	gap: 11.87px;
	align-items: center;
}

.courseForWhomTitleIcon{
	color: #3331D1;
	font-size: large;
}

.courseForWhomTitleText{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 108.34%;
	color: #1A1433;
	margin: 0px;
}

.courseForWhomText{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 149%;
	color: #000000;
}

.courseForWhomButton{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
	width: 291px;
	height: 59px;
	background: linear-gradient(58.91deg, #1C1A9D -12.05%, #DC78FF 108%);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 143.9%;
	/* identical to box height, or 22px */


	color: #FFFFFF;
}

.coursePlanBox{
	width: 100%;
	height: 1077px;
	background: radial-gradient(99.55% 231.45% at 50% 44.46%, #6129DD 1.56%, #3331D1 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.coursePlanTitle{
	margin-top: 256px;
}

.coursePlanTitleText{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 108.34%;
	color: #FFFFFF;
}

.coursePlanForList{
	width: 1063px;
	height: 519px;
	background: rgba(0, 0, 0, 0.08);
	border-radius: 21px;
	margin-top: 66px;
	padding: 35px 41px 45px 42px;
	display: flex;
	flex-direction: row;
	gap: 18px;
	justify-content: center;
	flex-wrap: wrap;
}

.coursePlanForListTitles{
	display: flex;
	flex-direction: row;
	gap: 357px;
}

.coursePlanForListTitles p{
	color: #FFF;
	font-size: 15px;
	font-family: 'Montserrat';
	line-height: 108.336%;
}

.coursePlanList{
	width: 467px;
	height: 400px;
	overflow-y: auto;
	border-radius: 10px 0px 0px 10px;
}

.coursePlanList::-webkit-scrollbar{
	width: 10px;
}
.coursePlanList::-webkit-scrollbar-thumb{
	background: rgba(255, 255, 255, 0.51);
	border-radius: 0px 0px 10px 10px;
} 

 .coursePlanList::-webkit-scrollbar-track{
	background: #3B2099;
}

.coursePlanList_item{
	max-width: 467px;
	background: #F0F0F0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px 30px 31px 31px;
}

.numberOfProgramm{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 108.34%;
	background: linear-gradient(74.44deg, #3331D1 -25.27%, #933FEE 82.39%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.nameOfProgram{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 108.34%;
	color: #000000;
}

.iconOfProgramm{
	font-size: medium;
	color: #8992A9;
}

.coursePlanList_item:hover{
	background: #FFFFFF;
	box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
}

.coursePlanList_item:hover .iconOfProgramm{
	color:  #933FEE;
	transform: rotate(-90deg);
}

.moreInfoAboutPlanItem{
	max-height: 203px;
	max-width: 407px;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 0px 10px 10px 0px;
	padding: 31px 30px 52px 48px;
}

.moreInfoAboutPlanItemTitle{
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 7px;
}

.nameOfPrograminMoreInfo{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 108.34%;
	color: #000000;
	margin: 0px;
}

.infoAboutThisItem{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 149%;
	color: #000000;
	margin: 0px;
}

.getSertificate{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 26px;
	margin-top: 118px;
}

.getSertificateCircle{
	width: 90px;
	height: 90px;
	border-radius: 90px;
	border: 1px solid #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.getSertificateIcon{
	color: #FFF;
}

.getSertificateText{
	color: #FFF;
	font-size: 20px;
	font-family: Montserrat;
	font-weight: 700;
	text-decoration-line: underline;
}



.form-join {
	position: relative;
	margin-top: 132px;
	margin-bottom: 156px;
}
.join-block {
	align-self: center;
	width: 1180px;
	height: 248px;
	background-image: linear-gradient(75deg, #3331D1, #933FEE);
	border-radius: 0px 50px 0px 50px;
	box-shadow: 0px, 4px rgba(0, 0, 0, 0.2);
	
	padding: 40px 100px;
	margin-bottom: -120px;
	margin-left: calc((100% - 1180px)/ 2);

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.join-str {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: var(--white);
}
.join-title {
	font-weight: 800;
	font-size: 50px;
	line-height: 108.34%;
	text-transform: uppercase;
	color: var(--white);
}
.join-lorem {
	width: 482px;
	height: 46px;

	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: var(--white);
}
.join-str + .join-title {
	margin-top: 15px;
}
.join-title + .join-lorem {
	margin-top: 15px;
}
.join-btn {
	z-index: 200;
	width: 270px;
	height: 65px;
	background: #FFFFFF;
	box-shadow: 0px 8px 20px rgba(10, 7, 7, 0.516);
	border-radius: 51px;

	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-transform: capitalize;
	transition: 0.1s ease;
	color: var(--black);
}
.join-btn:hover{
	transition-duration: 500ms;
	background-image: linear-gradient(90deg, #9796F0, #FBC7D4);
	transform: scale(1.3);
}

.courseVideo{
	margin-top: 156px;
}


@media (max-width: 1025px){
	.nearestCourse {
		gap: 48px;
	}
	
	
	.courseInformation{
		width: 421px;
		margin-top: 39px;
	}

	
	.coursesTimeAndCost{
		width: 458px;
		height: 75px;
		padding-left: 26px;
	}
	
	.timeOfThisCourse,
	.coursePaymentPerMonth
	{
		gap: 9px;
	}
	
	
	.thisCourseBox{
		width: 433px;
		height: 369px;
	}
	
	.nearestCoursesGroupInformation{
		width: 409px;
		height: 220px;
		margin-top: 15px;		
		/* padding-left: 60px; */
	}
	
	
	.courseStartAtAndCost{
		gap: 62px;
		margin-bottom: 15.63px;
		display: flex;
		align-items: center;

	}
	
	.durationAndNumberOfLessons{
		gap: 42px;
		margin-top: 15px;
	}
	
	.courseStartAt,
	.thisCourseCost,
	.duration,
	.courseNumberOfLessons{
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	

	
	.courseDivider{
		margin-left: 32px;
		width: 356px;
		background-color: rgba(255, 255, 255, 0.4);
	}
	
	.thisCoursenumberOfFreePlaces{
		width: 182px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 13.21px;
		margin-top: 21.12px;
	}
	

	.startCourse{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 6px;
		gap: 10px;
		width: 233px;
		height: 70px;
		border-radius: 10px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 143.9%;
		border: none;
		color: #FFFFFF;
	
	}
	
	.leaveReviewOrStartCourse{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 41.5px;
		margin-top: 18px;
	}
	
	.courseForWhomButton{
		margin-top: 22px;
	}
	
	
	
	.coursePlanForList{
		width: 997px;
		height: 519px;
		background: rgba(0, 0, 0, 0.08);
		border-radius: 21px;
		margin-top: 66px;
		padding: 35px 41px 45px 42px;
		display: flex;
		flex-direction: row;
		gap: 18px;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	.coursePlanForListTitles{
		display: flex;
		flex-direction: row;
		gap: 357px;
	}
	
	.coursePlanForListTitles p{
		color: #FFF;
		font-size: 15px;
		font-family: 'Montserrat';
		line-height: 108.336%;
	}
	
	.coursePlanList{
		width: 467px;
		height: 400px;
		overflow-y: auto;
		border-radius: 10px 0px 0px 10px;
	}
	
	.coursePlanList::-webkit-scrollbar{
		width: 10px;
	}
	.coursePlanList::-webkit-scrollbar-thumb{
		background: rgba(255, 255, 255, 0.51);
		border-radius: 0px 0px 10px 10px;
	} 
	
	 .coursePlanList::-webkit-scrollbar-track{
		background: #3B2099;
	}
	
	.coursePlanList_item{
		max-width: 467px;
		background: #F0F0F0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 32px 30px 31px 31px;
	}
	
	.numberOfProgramm{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 25px;
		line-height: 108.34%;
		background: linear-gradient(74.44deg, #3331D1 -25.27%, #933FEE 82.39%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
	
	.nameOfProgram{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 108.34%;
		color: #000000;
	}
	
	.iconOfProgramm{
		font-size: medium;
		color: #8992A9;
	}
	
	.coursePlanList_item:hover{
		background: #FFFFFF;
		box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
	}
	
	.coursePlanList_item:hover .iconOfProgramm{
		color:  #933FEE;
		transform: rotate(-90deg);
	}
	
	.moreInfoAboutPlanItem{
		max-height: 203px;
		max-width: 407px;
		background: #FFFFFF;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
		border-radius: 0px 10px 10px 0px;
		padding: 31px 30px 52px 48px;
	}
	
	.moreInfoAboutPlanItemTitle{
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 7px;
	}
	
	.nameOfPrograminMoreInfo{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 108.34%;
		color: #000000;
		margin: 0px;
	}
	
	.infoAboutThisItem{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 149%;
		color: #000000;
		margin: 0px;
	}
	
	.getSertificate{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		gap: 26px;
		margin-top: 118px;
	}
	
	.getSertificateCircle{
		width: 90px;
		height: 90px;
		border-radius: 90px;
		border: 1px solid #FFF;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.getSertificateIcon{
		color: #FFF;
	}
	
	.getSertificateText{
		color: #FFF;
		font-size: 20px;
		font-family: Montserrat;
		font-weight: 700;
		text-decoration-line: underline;
	}
	
	
	
	.form-join {
		position: relative;
		margin-top: 132px;
		margin-bottom: 156px;
	}
	.join-block {
		align-self: center;
		width: 1180px;
		height: 248px;
		background-image: linear-gradient(75deg, #3331D1, #933FEE);
		border-radius: 0px 50px 0px 50px;
		box-shadow: 0px, 4px rgba(0, 0, 0, 0.2);
		
		padding: 40px 100px;
		margin-bottom: -120px;
		margin-left: calc((100% - 1180px)/ 2);
	
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		overflow: hidden;
	}
	
	.join-str {
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-transform: uppercase;
		color: var(--white);
	}
	.join-title {
		font-weight: 800;
		font-size: 50px;
		line-height: 108.34%;
		text-transform: uppercase;
		color: var(--white);
	}
	.join-lorem {
		width: 482px;
		height: 46px;
	
		font-weight: 400;
		font-size: 15px;
		line-height: 22px;
		color: var(--white);
	}
	.join-str + .join-title {
		margin-top: 15px;
	}
	.join-title + .join-lorem {
		margin-top: 15px;
	}
	.join-btn {
		z-index: 200;
		width: 270px;
		height: 65px;
		background: #FFFFFF;
		box-shadow: 0px 8px 20px rgba(10, 7, 7, 0.516);
		border-radius: 51px;
	
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		text-transform: capitalize;
		transition: 0.1s ease;
		color: var(--black);
	}
	.join-btn:hover{
		transition-duration: 500ms;
		background-image: linear-gradient(90deg, #9796F0, #FBC7D4);
		transform: scale(1.3);
	}
	
	.courseVideo{
		margin-top: 156px;
	}
}
