
@charset 'UTF-8';
/* Arrows */
.slick-prev,
.slick-next {
    background-image: url('../../../public/assets/img/arrow .svg');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	width: 36px;
	height: 36px;
	display: block;
	padding: 0;
	cursor: pointer;
}

.slick-prev {
	transform: rotate(90deg);
	left: -35px;
}
[dir='rtl'] .slick-prev {
	right: -25px;
	left: auto;
}
.slick-next {
    transform: rotate(270deg);
	right: -35px;
}
[dir='rtl'] .slick-next {
	right: auto;
	left: -25px;
}
/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;

	display: block;

	width: 100%;
	padding: 0;
	margin: 0;

	list-style: none;

	text-align: center;
}
.slick-dots li {
	position: relative;
    background-color: black;

	display: inline-block;

	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;

	cursor: pointer;
}
.slick-dots li button {
	font-size: 0;
	line-height: 0;

	display: block;

	width: 20px;
	height: 20px;
	padding: 5px;

	cursor: pointer;

	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li button:before {
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;

	position: absolute;
	top: 0;
	left: 0;

	width: 20px;
	height: 20px;

	content: '•';
	text-align: center;

	opacity: 0.25;
	color: black;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
	opacity: 0.75;
	color: black;
}

