.video {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 210px;
	margin-bottom: 110px;
}
.video h1 {
	font-weight: 800;
	font-size: 40px;
	line-height: 108.34%;
	color: #1A1433;
}
.video-block {
	width: 980px;
	height: 500px;
	border-radius: 25px;
	overflow: hidden;
	margin-top: 80px;
}
.clip {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}
/* .filter {
	width: 980px;
	height: 500px;
	background: linear-gradient(74.44deg, rgba(51, 49, 209, 0.14) -25.27%, rgba(97, 41, 221, 0.51) 82.39%);
	position: absolute;
	border-radius: 25px;
	margin-top: 80px;
} */



.clip-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.arrow-clip {
	width: 25px;
	height: 25px;
	background: url('../../../public/assets/img/arrow .svg');
	margin-top: 54px;
}
.right {
	transform: rotate(90deg);
}
.left {
	transform: rotate(-90deg);
}


video::-webkit-media-controls-play-button {
  border-radius: 50%;
}


@media (max-width: 1025px){
	.video-block {
		width: 906px;
		height: 461px;
	}

}

@media (max-width: 768px){
	.video-block{
		width: 580px;
		height: 295px;
	}

}

@media (max-width: 415px){
	.video{
		margin-top: 310px;
	}
	.video-block{
		width: 301px;
		height: 215px;
	}

}